<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Data Structures,Algorithms,Python,Java,C,C++,JavaScript,Android Development,SQL,Data Science,Machine Learning,PHP,Web Development,System Design,Tutorial,Technical Blogs,Interview Experience,Interview Preparation,Programming,Competitive Programming,SDE Sheet,Job-a-thon,Coding Contests,GATE CSE,HTML,CSS,React,NodeJS,Placement,Aptitude,Quiz,Computer Science,Programming Examples,GeeksforGeeks Courses,Puzzles"
    />
    <!-- Bootstrap -->
    <link rel=”stylesheet”
    href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css”/>
    <!-- Icons -->
    <link rel=”stylesheet”
    href=”https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css”
    />
    <link
      href="../assets/images/layers.svg"
      rel="icon"
      type="image/png"
      sizes="16x16"
    />
    <link href="/manifest/favicon.ico" type="image/x-icon" />
    <title>Computer Science - cs.fyi</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!-- JavaScript -->
    <script src="../assets/js/main.js"></script>
  </head>
  <body>
    <header>
      <div class="navegacion contenedor">
        <div class="logo">
          <a href="../index.html">&lt;/></a>
        </div>
        <div class="nav-links">
          <a href="../index.html">Home</a>
          <a href="../explore.html">Explore</a>
        </div>
      </div>
    </header>
    <main>
      <div class="contenedor-etiqueta">
        <a href="../index.html"
          ><button class="tag-btn">Docker</button></a
        >
        <a href="../index.html"><button class="tag-btn">Linux</button></a>
      </div>
      <div class="contenedor">
        <h3>Setup and Install PostgreSQL Using Docker</h3>
        <p class="descripcion-h1">April 18, 2023</p>
      </div>
      <div class="contenedor noticias">
        <p class="texto-noticia">
          Docker is an excellent tool for simplifying the installation and
          management of applications, including PostgreSQL. By using Docker, you
          can effectively isolate PostgreSQL from your system and avoid
          potential conflicts with other installations or configurations.
        </p>
        <p class="texto-noticia">
          In this post, we will discuss how to install and run PostgreSQL using
          Docker. We will not be going in the details of Docker installation so
          make sure to have it installed and running on your system.
        </p>
        <h4>Step 1 — Pull the Docker Image</h4>
        <p class="texto-noticia">
          Start by pulling the latest official PostgreSQL image from Docker Hub:
        </p>
        <div class="code-container">
          <p class="code-text">
            docker run --name some-postgres -e
            POSTGRES_PASSWORD=mysecretpassword -d postgres
          </p>
        </div>
        <p class="texto-noticia">
          Replace <span class="yellow">'some-postgres'</span> with a custom name
          for your PostgreSQL container and
          <span class="yellow">'mysecretpassword'</span> with a secure password.
          This command will create and start a new PostgreSQL container.
        </p>
        <h4>Step 2 — Run the Container</h4>
        <p class="texto-noticia">
          Now that you have the PostgreSQL image, run a new Docker container
          with the following command:
        </p>
        <div class="code-container">
          <p class="code-text">
            docker run --name some-postgres -e
            POSTGRES_PASSWORD=mysecretpassword -d postgres
          </p>
        </div>
        <p class="texto-noticia">
          Replace <span class="yellow">'some-postgres'</span> with a custom name
          for your PostgreSQL container and mysecretpassword with a secure
          password. This command will create and start a new PostgreSQL
          container.
        </p>
        <h4>Step 3 — Connect to Container</h4>
        <p class="texto-noticia">
          To connect to the running PostgreSQL container, you can use the
          following command:
        </p>
        <div class="code-container">
          <p class="code-text">
            docker exec -it some-postgres psql -U postgres
          </p>
        </div>
        <p class="texto-noticia">
          Replace <span class="yellow">'some-postgres'</span>some-postgres with
          the name of your PostgreSQL container. You should now be connected to
          your PostgreSQL instance and able to run SQL commands.
        </p>
        <h4>Step 4 — Persisting Data</h4>
        <p class="texto-noticia">
          By default, all data stored within the PostgreSQL Docker container
          will be removed when the container is deleted. To persist data, add a
          volume to your container using the
          <span class="yellow">'-v'</span> flag:
        </p>
        <div class="code-container">
          <p class="code-text">
            docker run --name some-postgres -e
            POSTGRES_PASSWORD=mysecretpassword -v
            /path/to/host/folder:/var/lib/postgresql/data -d postgres
          </p>
        </div>
        <p class="texto-noticia">
          Replace <span class="yellow">'/path/to/host/folder'</span> with the
          directory path on your host machine where you would like the data to
          be stored.
        </p>
        <h4>Step 5 — Accessing Remotely</h4>
        <p class="texto-noticia">
          To access your PostgreSQL container remotely, you'll need to publish
          the port on which it's running. The default PostgreSQL port is 5432.
          Use the <span class="yellow">'-p'</span> flag to publish the port:
        </p>
        <div class="code-container">
          <p class="code-text">
            docker run --name some-postgres -e
            POSTGRES_PASSWORD=mysecretpassword -p 5432:5432 -d postgres
          </p>
        </div>
        <p class="texto-noticia">
          Now you can connect to your PostgreSQL container using any PostgreSQL
          client by providing the host IP address or using the
          <span class="yellow">'localhost'</span> address if you are connecting
          from the same machine and the given port.
        </p>
        <h4>Conclusion</h4>
        <p class="texto-noticia">
          Using Docker is a convenient and efficient way to install and manage
          PostgreSQL. By utilizing containers, you can easily control your
          PostgreSQL resources and maintain database isolation. Following the
          above steps, you can quickly install, set up, and access PostgreSQL
          using Docker.
        </p>
      </div>
    </main>
    <footer>
      <div class="contenedor contenedor-footer">
        <p>© All rights reserved — cs.fyi</p>
      </div>
    </footer>
  </body>
</html>
