/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Recursive&family=Rubik+Dirt&family=Source+Code+Pro&display=swap');

/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 450px;
}

.dark-section {
    color: rgb(245, 246, 247);
    background-color: rgb(35, 40, 48);
}

h1 {
    font-size: 3.5rem;
    font-family: "Poppins", sans-serif;
}

h2 {
    font-family: 'Source Code Pro', monospace;
}

.tittle-section {
    font-family: 'Rubik Dirt', cursive;
    padding: 15px 0;
    font-size: 2rem;
}

.section-text {
    font-size: 1.3rem;
    margin: 15px auto;
    text-align: justify;
}

.titulo-card {
    font-family: "Poppins", sans-serif;
    margin: 10px auto;
}

.yellow {
    color: rgb(254,240,138);
}
/* Navegacion */
.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
  }
  
.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}

@media screen and (max-width:767px){
    .navbar-brand{
        display: none;
    }    
}

/* Seccion Hero */
.hero-section {
    background-color: rgb(245, 246, 247);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 350px;
    height: 350px;
    border: 3px solid rgb(35, 40, 48);
    border-radius: 100%;
    object-fit: cover;
    margin: 50px auto;
}

@media screen and (min-width: 700px) {
    .img-hero {
        max-width: 600px;
    }
    
}
/* Seccion About */
.about-section {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.about-section .contenedor {
    max-width: 600px;
    padding: 20px;
}
/* Seccion Skills */
.skills-section {
    padding: 40px;
}

.columna {
    min-height: 250px;
    max-width: 410px;
    border: 1px solid rgb(35, 40, 48);
    border-radius: 10px;
    margin: 10px;
    padding-top: 20px;
    transition: 0.3s ease-in-out;
}

.columna:hover {
    box-shadow: 0 0 5px rgb(35, 40, 48);
    background-color: rgb(35, 40, 48);
    color: white;
}

.columna p {
    font-size: 1.1rem;
    margin: 10px auto;
    text-align: center;
}

.skill-icon {
    
    font-size: 2rem;
}

.badge-container {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.badge {
    padding: 10px;
}
@media screen and (max-width:760px){
    .skills-section .row div {
        margin: 20px auto;
    }
    
}
/* Seccion Projectos */
.projects-section {
    padding: 40px;
}

.project {
    position: relative;
}

.proy-img {
    height: 250px;
    width: 100%;
    box-shadow: 0 0 5px white;
    border-radius: 10px;
    display: block;
    transition: 0.3s ease-in-out;
    margin-bottom: 35px;
    object-fit: cover;
}

.project-container {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: 0.3s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0;

}

.project:hover img {
    opacity: 0.2;
}

.project:hover .overlay {
    opacity: 1;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: rgb(254,240,138);
    font-size: 50px;
    margin: 10px;
}

@media screen and (max-width:400px) {
    .overlay p {
        font-size: 1rem;
    }

    .overlay i {
        font-size: 35px;
    }
    
}
/* Seccion Estudios */
/* Seccion Contacto */
/* Footer */
