/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Recursive&family=Rubik+Dirt&family=Source+Code+Pro&display=swap');

/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 450px;
}

.dark-section {
    color: rgb(245, 246, 247);
}

h1 {
    font-size: 3.5rem;
    font-family: "Poppins", sans-serif;
}

h2 {
    font-family: 'Source Code Pro', monospace;
}

.tittle-section {
    font-family: 'Rubik Dirt', cursive;
    padding: 15px 0;
    font-size: 2rem;
}

.section-text {
    font-size: 1.3rem;
    margin: 15px auto;
    text-align: justify;
}

.titulo-card {
    font-family: "Poppins", sans-serif;
    margin: 10px auto;
}
/* Navegacion */
.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
  }
  
.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}

@media screen and (max-width:767px){
    .navbar-brand{
        display: none;
    }    
}

/* Seccion Hero */
.hero-section {
    background-color: rgb(245, 246, 247);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 350px;
    height: 350px;
    border: 3px solid rgb(35, 40, 48);
    border-radius: 100%;
    object-fit: cover;
    margin: 50px auto;
}

@media screen and (min-width: 700px) {
    .img-hero {
        max-width: 600px;
    }
    
}
/* Seccion About */
.about-section {
    background-color: rgb(35, 40, 48);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.about-section .contenedor {
    max-width: 600px;
    padding: 20px;
}
/* Seccion Skills */
.skills-section {
    padding: 40px;
}

.skills-section .row div {
    height: 250px;
    max-width: 410px;
    border-radius: 10px;
    margin: 10px;
    transition: 0.3s ease-in-out;
}

.skills-section .row div:hover {
    box-shadow: 0 0 5px rgb(35, 40, 48);
    background-color: rgb(35, 40, 48);
    color: white;
}
@media screen and (max-width:760px){
    .skills-section .row div {
        margin: 20px auto;
    }
    
}
/* Seccion Projectos */
/* Seccion Estudios */
/* Seccion Contacto */
/* Footer */
