<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Data Structures,Algorithms,Python,Java,C,C++,JavaScript,Android Development,SQL,Data Science,Machine Learning,PHP,Web Development,System Design,Tutorial,Technical Blogs,Interview Experience,Interview Preparation,Programming,Competitive Programming,SDE Sheet,Job-a-thon,Coding Contests,GATE CSE,HTML,CSS,React,NodeJS,Placement,Aptitude,Quiz,Computer Science,Programming Examples,GeeksforGeeks Courses,Puzzles"
    />
    <!-- Bootstrap -->
    <link rel=”stylesheet”
    href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css”/>
    <!-- Icons -->
    <link rel=”stylesheet”
    href=”https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css”
    />
    <link
      href="../assets/images/layers.svg"
      rel="icon"
      type="image/png"
      sizes="16x16"
    />
    <link href="/manifest/favicon.ico" type="image/x-icon" />
    <title>Computer Science - cs.fyi</title>
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- JavaScript -->
    <script src="main.js"></script>
  </head>
  <body>
    <header>
        <div class="navegacion contenedor">
            <div class= "logo">
                <a href="index.html">&lt;/></a>
            </div>
            <div class="nav-links">
                <a href="index.html">Home</a>
                <a href="explore.html">Explore</a>
            </div>
        </div>      
    </header>
    <main>
        <div class="contenedor">
            <h1>cs.fyi</h1>
            <p class="descripcion-h1">Frontend, Backend, DevOps and everything in between.</p>
        </div>
        <div class="contenedor noticias">
            <div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">Setup and Install PostgreSQL Using Docker</a>
                </div>
                <div class="fecha">
                    Apr 18, 2023
                </div>
            </div>
            <hr>
            <div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">Add Multiple SSH keys to an EC2 Server</a>
                </div>
                <div class="fecha">
                    Apr 7, 2023
                </div>
            </div>
            <hr>
            <div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">How to push to a Different git Branch?</a>
                </div>
                <div class="fecha">
                    Apr 7, 2023
                </div>
            </div>
            <hr>
            <div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">How to get Username and Group in Linux</a>
                </div>
                <div class="fecha">
                    Apr 6, 2023
                </div>
            </div>
            <hr>
            <div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">Everything You Need to Know About DNS</a>
                </div>
                <div class="fecha">
                    Mar 26, 2023
                </div>
            </div>
            <hr>
            <div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">Change and Persist Hostname in Linux</a>
                </div>
                <div class="fecha">
                    Mar 23, 2023
                </div>
            </div>
            <hr><div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">Hassle-free Metabase Setup using Systemctl</a>
                </div>
                <div class="fecha">
                    Mar 23, 2023
                </div>
            </div>
            <hr>
            <div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">How to Monitor MySQL using Monit</a>
                </div>
                <div class="fecha">
                    Mar 22, 2023
                </div>
            </div>
            <hr>
            <div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">Renaming Terraform Resources without Destroying</a>
                </div>
                <div class="fecha">
                    Mar 22, 2023
                </div>
            </div>
            <hr>
            <div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">Guide to Writing Semantic HTML</a>
                </div>
                <div class="fecha">
                    Mar 17, 2023
                </div>
            </div>
            <hr>
            <div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">Guide to Picking a Language for DevOps</a>
                </div>
                <div class="fecha">
                    Mar 15, 2023
                </div>
            </div>
            <hr>
            <div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">Practical Guide to Port Knocking</a>
                </div>
                <div class="fecha">
                    Mar 14, 2023
                </div>
            </div>
            <hr>
            <div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">How to Manage Secrets in Web Applications?</a>
                </div>
                <div class="fecha">
                    Mar 14, 2023
                </div>
            </div>
            <hr>
            <div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">systemctl vs service in Linux</a>
                </div>
                <div class="fecha">
                    Mar 11, 2023
                </div>
            </div>
            <hr>
            <div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">Lessons Learned About AWS Autoscaling</a>
                </div>
                <div class="fecha">
                    Mar 8, 2023
                </div>
            </div>
            <hr>
            <div class="noticia">
                <div class="titulo">
                    <a href="news/new1.html" class="news-link">Amazon ECS vs EKS: Which one to choose?</a>
                </div>
                <div class="fecha">
                    Mar 7, 2023
                </div>
            </div>
            <hr>

        </div>
    </main>
    <footer>
        <div class="contenedor contenedor-footer">
            <p>© All rights reserved — cs.fyi</p>
        </div>
    </footer>
  </body>
</html>
